* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar_out-box {
  position: relative;
  top: 0;
  padding-top: 30px;
  border: 2px solid red;
}
.navbar-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
}
.logo-box {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.logo-name {
  padding-left: 15px;
  font-size: 30px;
  font-weight: 700;
}
.menu-box {
  /* border: 1px solid red; */
}
.menu {
}
.link_text-box {
  list-style: none;
  display: flex;
}
.link-text {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.6px;
  padding: 0 20px;
  transition: all 0.3s;
}
.link-text:hover {
  transform: translateY(-10px);
  color: #1a53ff;
}
.signup-btn {
  background-color: #1a53ff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 30px;
}
